body {
  background-color: #121212;
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

.title, .welcome {
  text-align: center;
}

.logo, .welcome {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.icon-bar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  overflow: auto;
}

.icon-bar a {
  float: left;
  text-align: center;
  width: 20%;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 16px;
}

.icon-bar a:hover, .active {
  background-color: #894FFF;
}

.active {
  color: black;
}

.image {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.text {
  font-size: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.bio, .contact-container {
  width: 40%;
  margin: 30px auto;
  border: 5px solid #894FFF;
  padding: 20px;
  text-align: center;
}

.member, .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.member-reverse {
  flex-direction: row-reverse;
}

.member-image {
  width: 40%;
  height: auto;
  margin: 0 20px;
}

.member-description {
  width: 30%;
  padding: 20px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center the images horizontally */
  max-width: 80%;
  margin: 0 auto;
  padding: 50px;
}

.gallery-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.gallery-image img {
  max-width: 100%;
  max-height: 1000px;
  height: auto;
  display: block; /* Make sure the images are block elements */
  margin: 0 auto; /* Center the images within their containers */
}

/* For landscape screens */
@media screen and (min-width: 1024px) and (orientation: landscape) {
  .gallery-container {
    flex-direction: row;
  }

  .gallery-image.horizontal {
    flex: 2;
    margin-right: 2%; /* Add space between images */
  }

  .gallery-image.vertical {
    flex: 1;
  }
}

.contact-container p {
  word-break: break-word;
}

.social-icon {
  padding: 20px;
  width: 30px;
  height: auto;
  display: inline-block;
}

.social-icon:hover {
  opacity: 0.7;
}
